{{ $tabNum := .Get "tabNum" }}
{{ .Parent.Scratch.Add "tabNum" (slice $tabNum) }}
{{ $tabID := print (.Parent.Get "tabID") $tab }}
{{ $tabID := .Get "tabID" }}
{{ .Parent.Scratch.Add "tabID" (slice $tabID) }}
{{ $tabName := .Get "tabName" }}
{{ .Parent.Scratch.Add "tabName" (slice $tabName) }}

{{ if eq $tab "1" }}

<div class="tab-pane fade show {{ if eq .Ordinal 0 }}active {{ end }}" id="{{ lower (replaceRE "(\\s)" "" $tabName) }}" role="tabpanel" aria-labelledby="nav-{{ (replaceRE "(\\s)" "" $tabName) }}">
  

	{{ $.Inner | markdownify }}

</div>

{{ else }}

<div class="tab-pane fade" id="{{ lower (replaceRE "(\\s)" "" $tabName) }}" role="tabpanel" aria-labelledby="nav-{{ (replaceRE "(\\s)" "" $tabName) }}">

	{{ $.Inner | markdownify }}

</div>

{{ end }}
